/* Ejercicio 1 */
p {
    color: blue;
}


.destacado {
    background-color: lightyellow;
}

/* Ejercicio 2 */
.experiencia {
    border: 1px dotted red ;
}

/* Ejercicio 3 */
a[target="_blank"]::after {
    content: " 🔗"; 
    text-decoration: none; 
}

/* Ejercicio 4 */
#experiencia p {
    font-size: 0.9rem;
}

/* Ejercicio 5 */
#experienncia > ul > li {
    list-style-type: square;
}

/* Ejercicio 6 */
h2 + p {
    margin-top: 0;
}

/* Ejercicio 7 */
h2 ~ p {
    color: lightgray;
}

/* Ejercicio 8 */
.intro p {
  border-left: 5px solid orange;
}

#contacto a[target="_blank"] {
  color: green;
}