p {
    color: blue;
}

.destacado {
    background-color: lightyellow;
}

.experiencia {
    border: 1px dotted red ;
}

a[target="_blank"]::after {
    content: " 🔗"; 
    text-decoration: none; 
}

#experiencia p {
    font-size: 0.9rem;
}

#experienncia > ul > li {
    list-style-type: square;
}

h2 + p {
    margin-top: 0;
}

h2 ~ p {
    color: lightgray;
}

.intro p {
  border-left: 5px solid orange;
}


#contacto a[target="_blank"] {
  color: green;
}