p {
    color: blue;
}

.destacado {
    background-color: lightyellow;
}

.experiencia {
    border: 1px dotted red ;
}

a[target="_blank"]::after {
    content: " 🔗"; 
    text-decoration: none; 
}

#experiencia p {
    font-size: 0.9rem;
}

#experienncia > ul > li {
    list-style-type: square;
}